form {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
}

.formHeading {
    text-align: center;
    color: white;
    opacity: 1;
    margin: auto;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
}

.form-label {
    color: #87CEFA;
}

.form-check-label {
    color: #87CEFA;
}

#form-hr {
    color: white;
    opacity: 1;
}

.form-button {
    width: 100px;
}

@media only screen and (min-width: 700px) {
    .search-form {
        max-width: 700px;
    }

}

.req label:after {
    content: " *";
    color: red;
}

.rbt-highlight-text {
    background-color: transparent !important;
    font-weight: normal !important;
}

mark{
    padding: 0 !important;
}

.rbt-input-hint{
    display: none;
}

.rbt-aux{
    background-color: white;
    border-radius: 5px;
    height: 25px;
}

.spinner-border-thin{
width: 0.9rem;
  height: 0.9rem;
  border-width: 0.1em;
}