.fa-spotify {
    color: #1ED760;
}

.CircularProgressbar-path {
    stroke: red !important;
}

.CircularProgressbar-trail {
    stroke: rgba(255, 0, 0, 0.0) !important;
}

.CircularProgressbar-text {
    fill: rgb(255, 255, 255) !important;
    font-weight: bold !important;
    font-size: 30px !important;
}

.spotify-card p {
    color: #68fbd8 !important;
    font-weight: bold;
}

.spotify-card label {
    color: white;
}
  
.noArtist {
    margin-top: 100px;
    margin-bottom: 100px !important;
}

.followers{
    margin-bottom: 2px;
}