.navbar {
    background-color: transparent !important;
    color: white !important;
    border-color: transparent !important;
    border-radius: 10px !important;
}

.navbar.selected {
    border-color: white !important;
}